<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/3b45398fe5.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body class="dark:bg-stone-50">
    <nav class=" dark:bg-stone-50">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="{% url 'index' %}">
                <button type="button" class="flex items-center justify-center w-1/2 px-7 lg:px-5 py-2 text-sm transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto font-medium  dark:text-neutral-800 dark:bg-neutral-400">
                    <span><</span>
                </button>
            </a>
        </div>
    </nav>
    <section class="dark:bg-stone-50 ">      
        <div class="dark:bg-stone-50 flex">
          <div class="container flex flex-col items-center mt-5 lg:mt-0 px-4  mx-auto text-center sm:py-10 lg:pb-10 md:py-10 md:px-10 lg:px-32 dark:text-gray-900">
            <div class="flex flex-col items-center text-center p-4">
                <i class="fa-solid fa-ruler fa-xl fa-bounce py-5" style="color: #FFD43B;"></i>
                  <h3 class="my-3 text-3xl font-semibold">Facilidades Físicas</h3>
                <p class="text-lg lg:mt-5 sm:mb-8 xl:max-w-3xl dark:text-gray-900">Somos el comité de Facilidades físicas y queremos mostrarte en que consiste nuestra asignación:</p>
              </div>

              <div class="mt-10 px-4 py-10 space-y-14 justify-center max-w-2xl">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-neutral-400 dark:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="pl-6 text-left font-light ">
                        <h4 class="font-medium dark:text-neutral-700 text-2xl">Propósito: </h4>
                        <p class="mt-2 dark:text-neutral-700">Suministrar todo aquello que facilite el desarrollo de las actividades y los eventos de puertas abiertas y dedicación del templo de Puebla, mantener todas las áreas del templo en orden y limpieza para que cada visitante pueda sentir un espíritu de reverencia y santidad de este sagrado lugar.</p>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-neutral-400 dark:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="pl-6 text-left font-light ">
                        <h4 class="font-medium  dark:text-neutral-700 text-2xl">Responsabilidades: </h4>
                        <ul class="mt-2 space-y-1 text-neutral-700 list-disc list-inside ">
                            <li>
                                Mantener limpio el interior y exterior del templo.
                            </li>
                            <li>
                                Verificar instalación y desmontaje de carpas y toldos.
                            </li>
                            <li>
                                Suministrar las cajas de cubre calzado.
                            </li>
                            <li>
                                Verificar y suministrar a los subcomités lo que hayan solicitado previamente.
                            </li>
                            <li>
                                Instalación y retiro de sillas en el interior y exterior del templo.
                            </li>
                            <li>
                                Verificar y mantener limpio los sanitarios.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-shrink-0">
                        <div class="flex items-center justify-center w-12 h-12 rounded-md dark:bg-neutral-400 dark:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-7 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="pl-6 text-left font-light ">
                        <h4 class="font-medium leadi dark:text-neutral-700 text-2xl">Requisitos: </h4>
                        <ul class="mt-2 space-y-1 text-neutral-500 list-disc list-inside dark:text-neutral-700">
                            <li>
                                Mayores de 18 años hombres y mujeres.
                            </li>
                            <li>
                                Actitud y disponibilidad de servicio.
                            </li>
                            <li>
                                7 voluntarios por turno.
                            </li>
                        </ul>
                    </div>
                </div>
              </div>         
            </div>
      </section> 

</body>
</html>