<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Templo de Puebla</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://kit.fontawesome.com/3b45398fe5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="" />
  </head>
  <body class="dark:bg-stone-50">
    <section class="dark:bg-stone-50">
      <div class="dark:bg-stone-50 m-12">
        <div
          class="container flex flex-col items-center mt-5 lg:mt-0 px-4 pt-0 pb-4 sm:pb-10 mx-auto text-center sm:py-10 lg:pb-56 md:py-10 md:px-10 lg:px-32 dark:text-gray-900"
        >
          <h1
            class="text-5xl font-bold leadi sm:text-6xl sm:mt-10 xl:max-w-3xl dark:text-gray-900"
          >
            Puertas Abiertas
          </h1>

          <hr class="w-3/4 my-5 border-gray-900 border-1" />

          <h1
            class="text-5xl font-bold leadi sm:text-6xl xl:max-w-3xl dark:text-gray-900"
          >
            Templo de Puebla
          </h1>
          <p
            class="mt-10 text-lg lg:mt-14 sm:mb-8 xl:max-w-3xl dark:text-gray-900"
          >
            ¡Hola! ¿Te gustaría ser un voluntario durante las puertas abiertas?
            Aquí podrás encontrar más información!
          </p>
        </div>
      </div>
      <img
        src="https://noticias-mx.laiglesiadejesucristo.org/media/960x540/Puebla-Exta.jpg"
        alt=""
        class="w-3/4 mx-auto mb-12 mt-15 rounded-lg shadow-md lg:-mt-40 bg-gray-500"
      />
    </section>

    <section class="m-20 dark:bg-stone-50">
      <div class="container mx-auto p-4 my-10 space-y-2 text-center">
        <h2 class="text-5xl font-bold dark:text-gray-900">
          Comités y Requisitos
        </h2>
      </div>
      <div
        class="container mx-auto grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-3"
      >
        <div class="flex flex-col items-center text-center p-4">
          <i
            class="fa-solid fa-laptop fa-beat-fade fa-lg py-5"
            style="color: #376ecd"
          ></i>
          <a href="{% url 'tecnologia' %}">
            <h3 class="my-3 text-3xl font-semibold hover:underline">
              Tecnología
            </h3>
          </a>
        </div>
        <div class="flex flex-col items-center text-center p-4">
          <i
            class="fa-solid fa-lock fa-beat-fade fa-lg py-5"
            style="color: #933434"
          ></i>
          <a href="{% url 'seguridad' %}">
            <h3 class="my-3 text-3xl font-semibold hover:underline">
              Protección y Seguridad
            </h3>
          </a>
        </div>
        <div class="flex flex-col items-center text-center p-4">
          <i
            class="fa-solid fa-bus fa-beat-fade fa-lg py-5"
            style="color: #85878a"
          ></i>
          <a href="{% url 'estacionamiento' %}">
            <h3 class="my-3 text-3xl font-semibold hover:underline">
              Estacionamiento
            </h3>
          </a>
        </div>
        <div class="flex flex-col items-center text-center p-4">
          <i
            class="fa-solid fa-person-walking fa-beat-fade fa-lg py-5"
            style="color: #0f5728"
          ></i>
          <a href="{% url 'recorridos' %}">
            <h3 class="my-3 text-3xl font-semibold hover:underline">
              Recorridos
            </h3>
          </a>
        </div>
        <div class="flex flex-col items-center text-center p-4">
          <i
            class="fa-solid fa-globe fa-beat-fade fa-lg py-5"
            style="color: #74c0fc"
          ></i>
          <a href="{% url 'traduccion' %}">
            <h3 class="my-3 text-3xl font-semibold hover:underline">
              Traducción
            </h3>
          </a>
        </div>
        <div class="flex flex-col items-center text-center p-4">
          <i
            class="fa-solid fa-ruler fa-xl fa-beat-fade py-5"
            style="color: #ffd43b"
          ></i>
          <a href="{% url 'facilidades'%}">
            <h3 class="my-3 text-3xl font-semibold hover:underline">
              Facilidades Físicas
            </h3>
          </a>
        </div>
      </div>
    </section>

    <div
      class="container max-w-2xl mb-10 mt-20 p-2 mx-auto rounded-md sm:p-4 dark:text-gray-100 dark:bg-stone-50"
    >
      <div class="container mx-auto p-4 mb-14 space-y-2 text-center">
        <h2 class="text-5xl font-bold text-gray-900">Calendario</h2>
      </div>
      <div class="overflow-x-auto rounded-xl">
        <h2 class="text-2xl font-semibold pb-5 text-gray-900">
          Ultima semana de Marzo:
        </h2>
        <table class="min-w-full text-xs">
          <thead class="rounded-t-lg dark:bg-gray-700">
            <tr class="text-right">
              <th title="Ranking" class="p-3 text-left">Turno</th>
              <th title="Team name" class="p-3 text-left">Lunes</th>
              <th title="Wins" class="p-3">Martes</th>
              <th title="Losses" class="p-3">Miercoles</th>
              <th title="Win percentage" class="p-3">Jueves</th>
              <th title="Games behind" class="p-3">Viernes 29</th>
              <th title="Games behind" class="p-3">Sabado 30</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>8:00 A 12:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>LA PAZ</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>NEALTICAN SUR</span>
              </td>
            </tr>

            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>12:00 A 16:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>CHOLULA / CUAUTLA ZAPATA</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>CITLATEPETL / LA LIBERTAD</span>
              </td>
            </tr>
            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>16:00 A 20:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2">
                <span></span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>ANGELOPOLIS</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>ANGELOPOLIS</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="container max-w-2xl m-10 p-2 mx-auto rounded-xl sm:p-4 dark:text-gray-100 dark:bg-stone-50"
    >
      <div class="overflow-x-auto rounded-xl">
        <h2 class="text-2xl font-semibold pb-5 text-gray-900">
          Primer semana de Abril:
        </h2>
        <table class="min-w-full text-xs">
          <thead class="rounded-t-lg dark:bg-gray-700">
            <tr class="text-right">
              <th title="Ranking" class="p-3 text-left">Turno</th>
              <th title="Team name" class="p-3 text-left">Lunes 1</th>
              <th title="Wins" class="p-3">Martes 2</th>
              <th title="Losses" class="p-3">Miercoles 3</th>
              <th title="Win percentage" class="p-3">Jueves 4</th>
              <th title="Games behind" class="p-3">Viernes 5</th>
              <th title="Games behind" class="p-3">Sabado 6</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>8:00 A 12:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>AMALUCAN</span>
              </td>
              <td class="px-3 py-2">
                <span>LA LIBERTAD</span>
              </td>
              <td class="px-3 py-2">
                <span>NEALTICAN NTE</span>
              </td>
              <td class="px-3 py-2">
                <span>NEALTICANMEX</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>ARBOLEDAS</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span></span>
              </td>
            </tr>

            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>12:00 A 16:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>TEZIUTLÁN / TLAXCALA MEX</span>
              </td>
              <td class="px-3 py-2">
                <span>TLAXCALA NTE</span>
              </td>
              <td class="px-3 py-2">
                <span>TEHUACAN / ANGELOPOLIS</span>
              </td>
              <td class="px-3 py-2">
                <span>DTO. IZUCAR / LA PAZ</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>DTO. I. MEJIA / OMETOXTLA</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span></span>
              </td>
            </tr>
            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>16:00 A 20:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>ATLIXCO</span>
              </td>
              <td class="px-3 py-2">
                <span>FUERTES</span>
              </td>
              <td class="px-3 py-2">
                <span>CHOLULA</span>
              </td>
              <td class="px-3 py-2">
                <span>VALSEQUILLO</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>TLAXCALA MEX</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="container max-w-2xl m-10 p-2 mx-auto rounded-xl sm:p-4 dark:text-gray-100 dark:bg-stone-50"
    >
      <div class="overflow-x-auto rounded-xl">
        <h2 class="text-2xl font-semibold pb-5 text-gray-900">
          Segunda semana de Abril:
        </h2>
        <table class="min-w-full text-xs">
          <thead class="rounded-t-lg dark:bg-gray-700">
            <tr class="text-right">
              <th title="Ranking" class="p-3 text-left">Turno</th>
              <th title="Team name" class="p-3 text-left">Lunes 8</th>
              <th title="Wins" class="p-3">Martes 9</th>
              <th title="Losses" class="p-3">Miercoles 10</th>
              <th title="Win percentage" class="p-3">Jueves 11</th>
              <th title="Games behind" class="p-3">Viernes 12</th>
              <th title="Games behind" class="p-3">Sabado 13</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>8:00 A 12:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>CHOLULA</span>
              </td>
              <td class="px-3 py-2">
                <span>AMALUCAN</span>
              </td>
              <td class="px-3 py-2">
                <span>FUERTES</span>
              </td>
              <td class="px-3 py-2">
                <span>ANGELOPOLIS</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>VALSEQUILLO</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>OMETOXTLA / CUAUTLA PALMAS</span>
              </td>
            </tr>

            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>12:00 A 16:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>NEALTICAN MEX</span>
              </td>
              <td class="px-3 py-2">
                <span>NEALTICAN SUR</span>
              </td>
              <td class="px-3 py-2">
                <span>DTO. IZUCAR / ARBOLEDAS</span>
              </td>
              <td class="px-3 py-2">
                <span>TLAXCALA MEX</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>ATLIXCO</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>DTO. I. MEJIA / AMALUCAN</span>
              </td>
            </tr>
            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>16:00 A 20:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>NEALTICAN NTE</span>
              </td>
              <td class="px-3 py-2">
                <span>OMETOXTLA</span>
              </td>
              <td class="px-3 py-2">
                <span>LA PAZ</span>
              </td>
              <td class="px-3 py-2">
                <span>LA LIBERTAD</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>NEALTICAN MEX</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>TLAXCALA NTE</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      class="container max-w-2xl m-10 p-2 mx-auto rounded-xl sm:p-4 dark:text-gray-100 dark:bg-stone-50"
    >
      <div class="overflow-x-auto rounded-b-2xl">
        <h2 class="text-2xl font-semibold pb-5 text-gray-900">
          Tercera semana de Abril:
        </h2>
        <table class="min-w-full text-xs">
          <thead class="dark:bg-gray-700">
            <tr class="text-right">
              <th title="Ranking" class="p-3 text-left">Turno</th>
              <th title="Team name" class="p-3 text-left">Lunes 15</th>
              <th title="Wins" class="p-3">Martes 16</th>
              <th title="Losses" class="p-3">Miercoles 17</th>
              <th title="Win percentage" class="p-3">Jueves 18</th>
              <th title="Games behind" class="p-3">Viernes 19</th>
              <th title="Games behind" class="p-3">Sabado 20</th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>8:00 A 12:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>TLAXCALA NTE</span>
              </td>
              <td class="px-3 py-2">
                <span>NEALTICAN MEX</span>
              </td>
              <td class="px-3 py-2">
                <span>TLAXCALA MEX</span>
              </td>
              <td class="px-3 py-2">
                <span>OMETOXTLA</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>FUERTES</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>ATLIXCO / CUAUTLA MEXICO</span>
              </td>
            </tr>

            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>12:00 A 16:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>CITLATEPETL / FUERTES</span>
              </td>
              <td class="px-3 py-2">
                <span>TEZIUTLÁN / ATLIXCO</span>
              </td>
              <td class="px-3 py-2">
                <span>LA LIBERTAD</span>
              </td>
              <td class="px-3 py-2">
                <span>ARBOLEDAS</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>NEALTICAN NTE</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>TEHUACAN / VALSEQUILLO</span>
              </td>
            </tr>

            <tr
              class="text-right border-b border-opacity-20 dark:border-gray-700 dark:bg-gray-800"
            >
              <td class="px-3 py-2 text-left">
                <span>16:00 A 20:00</span>
              </td>
              <td class="px-3 py-2 text-left">
                <span>VALSEQUILLO</span>
              </td>
              <td class="px-3 py-2">
                <span>CHOLULA</span>
              </td>
              <td class="px-3 py-2">
                <span>ANGELOPOLIS</span>
              </td>
              <td class="px-3 py-2">
                <span>AMALUCAN</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>NEALTICAN SUR</span>
              </td>
              <td class="px-3 py-2 text-right">
                <span>LA PAZ</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex flex-wrap m-12 justify-center">
        <a
          href="https://forms.office.com/pages/responsepage.aspx?id=9_PMdkih7kKscDZGUlWmsiqbw7t9kotKirggV9Xm5NFUOUc5U01PT0dYWUlQMldTV0ZZQ1hPUkQ1VC4u"
        >
          <button
            type="button"
            class="px-8 py-3 m-10 text-lg font-semibold rounded bg-gray-800 text-white"
          >
            Inscríbete
          </button>
        </a>
      </div>
    </div>

    <footer class="rounded-lg shadow m-4 bg-gray-800">
      <div
        class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
      >
        <span class="text-sm sm:text-center text-white"
          >© 2024
          <a href="https://bauzantech.com" target="_blank" class="underline">Bauzan Tech Solutions</a>.
          All Rights Reserved.
        </span>
        <ul
          class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0"
        >
          <li>
            <a href="https://www.bauzantech.com/about" class="hover:underline me-4 md:me-6">About</a>
          </li>
          <li>
            <a href="https://www.bauzantech.com/terms/" class="hover:underline me-4 md:me-6">Privacy Policy</a>
          </li>
          <li>
            <a href="https://www.bauzantech.com/contact" class="hover:underline">Contact</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
